<div class="card" style="margin-top: 5px;">
	<h3 class="card-header primary-color white-text">Meus Ingredientes</h3>
	<div class="card-body">

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Descrição</th>
					<th>Valor R$</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let ing of ingredientes"
					[class.selected]="ing === objSelecionado" (click)="onSelect(ing)">
					<td>{{ing.id}}</td>
					<td>{{ing.descricao}}</td>
					<td>{{ing.valor}}</td>
					<td><button type="button" class="btn btn-warning"
							routerLink="/detail/{{ing.id}}">Alterar</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>