<div class="card" style="margin-top:5px;">
    <h3 class="card-header primary-color white-text">Realizar Pedido</h3>
    <div class="card-body">
    <pre>{{formulario.value | json}}</pre>
    
       <form [formGroup]="formulario"> 
        <h5>Faça seu Lanche! </h5>
        <div class="row" style="margin-bottom:30px;">
        	<div class="col">
        		<label>Opção do Cardápio:</label>
        		<select class="form-control" formControlName="idOpcaoCardapio" (change)="carregarListaIngredientes()">
        			<option [value]='0' >-- SELECIONE --</option>
				    <option *ngFor="let c of opcoes" [value]="c.id"  >{{c.descricao}}</option>
				    <option [value]='5' >Customizado</option>
				</select>
        	</div>
        	
        	<div class="col" *ngIf="formulario.value.idOpcaoCardapio == 5"> 
        		<label>Ingrediente:</label> 
        		<select class="form-control" formControlName="idIngrediente">
        			<option [value]='0' >-- SELECIONE --</option>
				    <option *ngFor="let ing of opcoesIngredientes" [value]="ing.id"  >{{ing.descricao}}</option>
				</select>
        	 </div>  
        	 
        	 <button class="btn btn-primary" style="height:40px; margin-top:30px;" (click)="onSubmit()">Adicionar</button>
        </div>
    	</form>
    <div style="margin-top:100px;">
        <h5>Meu Pedido </h5>
    
    <table class="table">
		    <thead>
		        <tr>
		            <th>Número</th>
		            <th>Descrição</th>
		            <th>Quantidade</th>
		            <th>Valor Unitário R$</th>
		            <th>Desconto R$</th>
		            <th>Total R$</th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody>
		        
		    </tbody>
		</table>
		<div class="row">
			<div class="col">
        		<a class="btn btn-primary">Finalizar Pedido</a>
        	</div>
        	<div class="col">
        	</div>
        	<div class="col">
        		<h4>Total do Pedido R$: 00,00</h4>
        	</div>
        	
        </div>
		
   </div> 
   </div>     
</div>
