
<div class="card" style="margin-top: 5px;"  *ngIf="ingrediente">
        <h3 class="card-header primary-color white-text">Alterar Ingrediente</h3>
        <div class="card-body">
                <div class="card-body text-secondary">
                    <h5 class="card-title"> </h5>
                <form method="POST">
                    <div class="row">
                        <div class="col">
                            <h5>Descrição:</h5>
                            <input placeholder="descricao" [(ngModel)]="ingrediente.descricao" name="descricao" class="form-control mr-sm-5" required/>
                        </div>
                        <div class="col-sm-3">
                            <h5>Valor R$:</h5>
                            <input placeholder="valor" [(ngModel)]="ingrediente.valor" name="valor" class="form-control mr-sm-5" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin:5px;">
                            <button class="btn btn-primary" (click)="alterar()">Alterar</button>
                            <button class="btn btn-sucess"  (click)="goBack()" >Voltar</button>
                        </div>
                    </div>
                 </form>
        </div>
</div>        

                      

                  